.scrollTable {
    padding-bottom: 10px;


    .tableItem {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
        flex: 1 1 0%;

        div {
            width: max-content;

            &:nth-child(2) {
                border-radius: 5px;
                width: 100%;
                padding: 3px 6px;
                font-size: .8rem;
                // background: rgb(240, 240, 240);
                box-shadow:var(--inputShadow_1)

            }
        }
    }

    &::-webkit-scrollbar {
        height: 6px;

    }

    &::-webkit-scrollbar-track {
        border: 1px solid #6b6b6b7e;
        border-radius: 5px
    }

    &::-webkit-scrollbar-thumb {
        background: #ffffff9c;
        border-radius: 5px;
        cursor: pointer;
    }
}


input[type='number'] {
    background: transparent;
    padding: 3px 6px;
    border-radius: 4px;
    transition: all .3s;
    position: relative;

}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.FirstStep_card,
.Second_card {
    animation: FirstStep_card_open .8s ease;
    z-index: 0;
}

@keyframes FirstStep_card_open {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




.animation_missingCharasteristic {
    background-image: linear-gradient(to right, aquamarine, purple, aquamarine);
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    font-weight: 700;
}


.card_title {
    // text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #000000 0%,
            #000000 33%,
            #000000 66%,
            #000000 100%);
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // animation: textclip 5s linear infinite;
    display: inline-block;
    z-index: 99;


}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.background_shadow_animation {
    position: relative;
    border-radius: 10px;
    z-index: 2;
    transition: border 1s ease, color 0.3s ease;
    color: #000000;
    gap: 5px;
    background: #fff;
    box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.558);
    transform-style: preserve-3d;

    &::before,
    &::after {
        content: " ";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transition: transform 0.6s ease;
        border-radius: 10px;

        // background-image: linear-gradient(to right, aquamarine, purple, aquamarine);
        // animation: textclip 5s linear infinite;
        // background-size: 200% auto;

        background: rgb(183, 183, 183);

    }

    &::before {
        transform: translate3d(-50%, -50%, -2rem);
        box-shadow: var(--inputShadow_2)
    }

    &::after {
        transform: translate3d(-50%, -50%, -1rem);
    }


    .input_3d {
        transform-style: preserve-3d;
        position: relative;

        &::before,
        &::after {
            content: " ";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transition: all 0.6s ease;
            border-radius: 4px;

            background-image: linear-gradient(to right, aquamarine, purple, aquamarine);
            animation: textclip 5s linear infinite;
            background-size: 200% auto;

            background: rgb(183, 183, 183);
                background:rgb(240, 240, 240)


        }

        &::before {
            transform: translate3d(-50%, -50%, .01rem);

            box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.558);


        }

        &::after {
            transform: translate3d(-50%, -50%, .02rem);


        }

        input {
            transform: translateZ(.3rem);


        }

    }

    &:hover {
        .input_3d {
            &::before {
                transform: translate3d(-50%, -50%, 0.1rem);
                box-shadow:inset 0 0 0px 1px rgba(0, 0, 0, 0.558), rgba(0, 0, 0, 0.481) 0px 2px 4px;
            }

            &::after {
                transform: translate3d(-50%, -50%, 1rem);
            }

            input:not(:disabled) {
                transform: translateZ(2rem);
                // box-shadow:var(--inputShadow_0)
            }

            

        }


        &::before {
            transform: translate3d(-50%, -50%, -3rem);
        }

        &::after {
            transform: translate3d(-50%, -50%, -1.5rem);
        }
    }

    ////////////////////////////////////
    div {
        transform-style: preserve-3d;
    }

    input {
        transition: all .6s ease-out;
        display: block;
        background: rgb(255, 255, 255);
        box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.558);

    }

    input:disabled {
        // background: rgb(240, 240, 240);
        // box-shadow:inset 0 0 2px 0px black;
        box-shadow: var(--inputShadow_1);

    }



    ::selection {
        background: black;
        color: white
    }

    ::-moz-selection {
        background: black;
        color: white
    }


}






@keyframes background_shadow_animation_animations {
    100% {
        opacity: 1;
    }
}

header {
    transform: translateY(-101%);
    animation: header_animation 1s ease 1s forwards;

    .header_links {
        font-weight: 600;
        transform-style: preserve-3d;
        // animation: header_links_rotate 5s ease;

        div:nth-child(1) {
            a {
                background: aquamarine;
                color: var(--backColor);

                &:hover {
                    color: var(--backColor);
                    background: aquamarine
                }
            }
        }

        div:nth-child(2) {
            a {
                background: purple;
                color: var(--backColor);

                &:hover {
                    color: var(--backColor);
                    background: purple
                }
            }
        }
    }

    @keyframes header_links_rotate {
        100% {
            transform: rotateY(360deg);

        }
    }

    @keyframes header_links_everyLinls_reversRotate {
        0% {
            transform: rotateX(-90deg) rotateY(-90deg) rotateZ(-90deg);
        }

        100% {
            transform: rotateX(0) rotateY(0) rotateZ(0);
        }
    }

    a {
        aspect-ratio: 1/1;
        display: block;
        height: 100%;
        text-align: center;
        border-radius: 50%;
        width: max-content;
        transition: transform .3s ease;

        animation: header_links_everyLinls_reversRotate 2s ease;


        &:hover {
            transform: scale(1.2);
        }
    }

}

@keyframes header_animation {
    100% {
        transform: none;
    }
}


.circles {
    position: fixed;
    top: 15px;
    right: 15px;
    aspect-ratio: 1/1;
    min-height: 11vmin;
    height: fit-content;
    transition: transform .3s ease;
    cursor: pointer;



    &:hover {
        transform: scale(1.1);
    }


    &.active {
        div {
            animation-name: circle_animation_action;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.151);
        aspect-ratio: 1/1;
        filter: invert(1);

        &::after {
            content: '';
            position: absolute;
            aspect-ratio: 1/1;
            height: 5px;
            background: white;
            top: 50%;
            right: -2.5px;
            transform: translateY(-50%);
            border-radius: 50%;

        }
    }

    @for $i from 1 through 7 {
        div:nth-child(#{$i}) {
            height: #{$i * 16.6%};
            animation-duration: #{$i  + 3s};
        }
    }


    @keyframes circle_animation_action {
        0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
            box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
        }

        10% {
            transform: translate(-50%, -50%) rotateZ(36deg);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.151);
        }

        99% {
            transform: translate(-50%, -50%) rotateZ(355deg);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.151);
        }

        100% {
            transform: translate(-50%, -50%) rotateZ(360deg);
            box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
        }
    }




}





.FirstStep_card_table_WBrent_item {
    // width: calc(50% - 2vmin);
    flex: 1 1 0;
}